/* Denna fil skall innehålla din CSS kod */
#container {
    display: grid;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    grid-row-gap: 10px;
    column-gap: 20px;
    border-radius: 25px;
    grid-template-rows: 25% 30px 60% auto;
    grid-template-areas: 
    'hd hd hd'
    'nav nav as'
    'mn mn as'
    'ft ft ft';
}

header {
    grid-area: hd;
    background-image: url("../img/skog.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    padding: 10px;
}
 
h1 {
    margin: auto;
    text-align: center;
    font-size: 95px;
    color: black;
    font-family: monospace;
    stroke: #013220;
}

h2 {
    font-family: sans-serif;
}

nav {
    grid-area: nav;
    background-color: #42631C;
    display: grid;
    padding: 5px;
}

main {
    grid-area: mn;
    background-color: white;
}
aside {
    grid-area: as;
    background-color: lightgray;
}

footer{
    grid-area: ft;
    background-color: #C68315;
}

#container2 {
    display: grid;
    grid-template-areas: 
    'lft rgt';
    margin: left;
    height: 15px;
    grid-template-columns: 4fr 1fr;
    padding: 0px;
    
}

#search {
    grid-area: lft;
    
}

input {
    width: 100%;
}

button {
    width: 60%;
    float: center;
}

#searchbtn {
    grid-area: rgt;
}

#skog {
    background-repeat: no-repeat;
    background-size: auto;
}